:root {
    --primary-color: #4a47a3; /* Deep purple */
    --secondary-color: #f5a623; /* Elegant gold */
    --background-color: #f8f9fa; /* Light gray */
    --text-color: #333333; /* Dark gray */
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Arial', sans-serif;
}

.navbar {
    background-color: var(--primary-color);
}

.navbar-brand, .nav-link {
    color: white !important;
}

.hero {
    background: linear-gradient(135deg, var(--primary-color), var(--secondary-color));
    color: white;
    padding: 60px 0;
    text-align: center;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2rem;
}

.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: var(--primary-color);
    color: white;
    padding: 20px 0;
    text-align: center;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Altura completa de la ventana */
  }
  .imagen {
    width: 350px;
    height: 250px;
  }